<section id="manifiesto" class="relative py-32 bg-white">
    <div class="container mx-auto px-6 text-center">
        <div class="mb-12" data-aos="fade-up">
            <h3 class="text-gold font-bold tracking-[0.5em] uppercase text-[10px] mb-4">Nuestra Filosofía</h3>
            <div class="h-px w-16 bg-gold/30 mx-auto"></div>
        </div>
        <h4 class="text-xl md:text-5xl font-serif text-black font-black leading-tight italic mb-12 max-w-4xl mx-auto pr-4" data-aos="fade-up">
            "La verdadera distinción no reside en lo que se ve, sino en la <span class="text-gold">nobleza</span> de lo que se siente."
        </h4>
    </div>
</section>
